{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<div class='p-2'>
    <main>
        <container class='p-4'>
            <div class='h4 p-4'>
                Перші кроки в HTML та Bootstrap
            </div>
        <div class='h3 m-4'>Cписок сторінок</div>
        </container>
        <container>
            <div class='m-4'><a href='/summary' class="btn btn-primary">Summary</a></div>
            <div class='m-4'><a href='/skills' class="btn btn-primary">Skills</a></div>
            <div class='m-4'><a href='/education' class="btn btn-primary">Education</a></div>
            <div class='m-4'><a href='/work' class="btn btn-primary">Work</a></div>
            <div class='m-4'><a href='/bio' class="btn btn-primary">Dio</a></div>
            <div class='m-4'><a href='/car' class="btn btn-primary">Car</a></div>
            <div class='m-4'><a href='/education' class="btn btn-primary">Education</a></div>
            <div class='m-4'><a href='/facebook' class="btn btn-primary">Facebook</a></div>
            <div class='m-4'><a href='/mak' class="btn btn-primary">Mak</a></div>
            <div class='m-4'><a href='/js' class="btn btn-primary">JS</a></div>
            <div class='m-4'><a href='/person' class="btn btn-primary">Person</a></div>
            <div class='m-4'><a href='/program' class="btn btn-primary">Program</a></div>
            <div class='m-4'><a href='/skills' class="btn btn-primary">Skills</a></div>
            <div class='m-4'><a href='/task21' class="btn btn-primary">Task21</a></div>
            <div class='m-4'><a href='/task22' class="btn btn-primary">Task22</a></div>
            <div class='m-4'><a href='/task31' class="btn btn-primary">Task31</a></div>
            <div class='m-4'><a href='/web' class="btn btn-primary">Web</a></div>
            <div class='m-4'><a href='/shopcart' class="btn btn-primary">Shopcart</a></div>
            <div class='m-4'><a href='/shopcatalog' class="btn btn-primary">Shopcatalog</a></div>
            <div class='m-4'><a href='/shophome' class="btn btn-primary">Shophome</a></div>
            <div class='m-4'><a href='/shoporder' class="btn btn-primary">Shoporder</a></div>
            <div class='m-4'><a href='/shopreview' class="btn btn-primary">Shopreview</a></div>
        </container>



    </main>
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}