<!DOCTYPE html>
<html>

<head>
	<page.title>
    <meta charset='utf-8' />
    <link href='css/index.css' rel='stylesheet' />
</head>

<body>
	{{> nav}}

	<br>
	<hr>

    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   --}}
    {{{body}}}

	<br>
	<hr>
	{{> footer social=footer.social firstname=header.name.firstname lastname=header.name.lastname address=header.address}}

{{!-- 	{{#with footer}}
	<footer>
		<div>
			{{#with social}}
			{{> link text=email.text href=email.href blank=true }}
			{{> link text=phone.text href=phone.href blank=true }}
			{{> link text=linkedin.text href=linkedin.href blank=true }}
			{{/with}}
		</div>
		<br>
		<div>
			<em>Copyrigth {{../header/name/firstname}} {{../header/name/lastname}}</em>
		</div>
		<br>
		<div>
			<address>{{../header/address}}</address>
		</div>
	</footer>
	{{/with}}
 --}}
 </body>

</html>